<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tank_Exporter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Tank_Exporter.My.MySettings>
            <setting name="game_path" serializeAs="String">
                <value />
            </setting>
            <setting name="res_mods_path" serializeAs="String">
                <value />
            </setting>
            <setting name="ambient_value" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sepcular_value" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="total_value" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="m_simple_lighting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="region_selection" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="shadow_quality" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="selected_light" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bloom_off_checkedState" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="FXAA_CheckedState" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="wotmod_path" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="default_uv_Scale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="half_uv_scale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="double_uv_scale" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="authers_name" serializeAs="String">
                <value>your_game_name</value>
            </setting>
            <setting name="mod_version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fov" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="mouse_speed" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="blender_compatible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fbx_path" serializeAs="String">
                <value />
            </setting>
            <setting name="No_Markers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stop_loading_decals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stop_Loading_set" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GLTF_path" serializeAs="String">
                <value />
            </setting>
            <setting name="STL_path" serializeAs="String">
                <value />
            </setting>
            <setting name="aspose_path" serializeAs="String">
                <value />
            </setting>
        </Tank_Exporter.My.MySettings>
    </userSettings>
     <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.3D" publicKeyToken="f071c641d0b4582b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-24.7.1.0" newVersion="24.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AssimpNet" publicKeyToken="0d51b391f59f42a6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="cttools" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4723.22902" newVersion="1.0.4723.22902" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FastColoredTextBox" publicKeyToken="fb8aa12b994ef61b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.21.0" newVersion="2.16.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FbxSDK" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4593.24947" newVersion="1.0.4593.24947" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Direct3D11" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Mathematics" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpGLTF.Core" publicKeyToken="6f8b67557d279fe6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpGLTF.Runtime" publicKeyToken="6f8b67557d279fe6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpGLTF.Toolkit" publicKeyToken="6f8b67557d279fe6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tao.DevIl" publicKeyToken="7ec4053013524957" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.8.3" newVersion="1.6.8.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tao.FreeGlut" publicKeyToken="6e602a6ad6c0d06d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.2" newVersion="2.4.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tao.OpenGl" publicKeyToken="1ca010269a4501ef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.12" newVersion="2.1.0.12" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tao.Platform.Windows" publicKeyToken="701104b2da67a104" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.5" newVersion="1.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VJson" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.0" newVersion="0.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
